<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wguplanner">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/courses"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TermActivity"
            android:label="@string/terms"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="wguplanner_details.TermDetailsActivity"
            android:label="@string/termdetails"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="wguplanner_details.CourseDetailsActivity"
            android:label="@string/coursedetails"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="wguplanner_details.MentorDetailsActivity"
            android:label="@string/Mentordetails"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="wguplanner_details.AssessmentDetailsActivity"
            android:label="@string/Assessdetails"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AssessmentActivity"
            android:label="@string/assessment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MentorActivity"
            android:label="@string/mentors"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>